* {box-sizing:border-box}

body {
 font-family: "Lucida Grande";
 background-color: #eb4d4b;

}
li {
  color: #fff;
  list-style:none;

}

header {

  height: 65px;

  width: 100%;

  background-color: rgba(34, 49, 52, 0.9);

  

  top:0;

  z-index:10;

}

.logo {

  height: 65px;

  width: 85px;

  margin: 0px;

  padding: 0px;

  padding-left: 10px;

}

.header-left {

  float: left;

}

.header-right {

  float: right;

  transition: all 0.5s;

}

.header-right li:hover {

  background-color: rgba(255, 255, 255, 0.5);

}

.header-right li {

  line-height: 65px;

  padding: 0 25px;

  color: white;

  display: block;

  float: left;

  transition: all 0.5s;

}

.menu-icon {

  color:white;

  float:right;

}
a {
  color: white;
} 

.slideshow-container {

  max-width: 1000px;

  position: relative;

  margin: auto;

}

.mySlides {

  display: none;

}

.prev, .next {

  cursor: pointer;

  position: absolute;

  top: 50%;

  width: auto;

  margin-top: -22px;

  padding: 16px;

  color: black;

  font-weight: bold;

  font-size: 18px;

  transition: 0.6s ease;

  border-radius: 0 3px 3px 0;

  user-select: none;

}

.next {

  right: 0;

  border-radius: 3px 0 0 3px;

}

.prev:hover, .next:hover {

  background-color: rgba(0,0,0,0.8);

}

.text {

  color: #000;

  font-size: 15px;

  padding: 8px 12px;

  position: absolute;

  bottom: 8px;

  width: 100%;

  text-align: center;

}

.numbertext {

  color: #000;

  font-size: 12px;

  padding: 8px 12px;

  position: absolute;

  top: 0;

}

.dot {

  cursor: pointer;

  height: 15px;

  width: 15px;

  margin: 0 2px;

  background-color: #bbb;

  border-radius: 50%;

  display: inline-block;

  transition: background-color 0.6s ease;

}

.active, .dot:hover {

  background-color: #717171;

}

/* Fading animation */

.fade {

  -webkit-animation-name: fade;

  -webkit-animation-duration: 1.5s;

  animation-name: fade;

  animation-duration: 1.5s;

}

@-webkit-keyframes fade {

  from {opacity: .4}

  to {opacity: 1}

}

@keyframes fade {

  from {opacity: .4}

  to {opacity: 1}

}
.container {



  padding: 0 15px;

  margin: 0 auto;

}

.fa {

  margin-right: 5px;

}

.footer {

  background-color:grey;

  color: #fff;

  height: 140px;

  

  position: absolute;

  bottom: 0px; 

}

.container {

  float: center;

  padding-top: 5px;

  padding-bottom: 2px;

}

.grid{

  padding-top: 2px;

  list-style-type: none;

}



  

 

  





  

  



.footer_copyright{

  text-align: center;

  padding-left: 10px;

}

footer{

 background-color:#0C1700;

}
